flows (1).json
[{"id":"43f7e1dbf1622856","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"c1896b05ef8f6d0f","type":"ui_form","z":"43f7e1dbf1622856","name":"","label":"","group":"cbe680c1f7f0648d","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"p","type":"number","required":true,"rows":null},{"label":"Glucose Level","value":"g","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"s","type":"number","required":true,"rows":null},{"label":"Insulin","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"d","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","g":"","bp":"","s":"","i":"","b":"","d":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":270,"y":200,"wires":[["666b188b41c3690e"]]},{"id":"52630aa78125baeb","type":"debug","z":"43f7e1dbf1622856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"666b188b41c3690e","type":"function","z":"43f7e1dbf1622856","name":"global variables for form node","func":"global.set(\"Pregnancies\",msg.payload.p)\nglobal.set(\"Glucoselevel\",msg.payload.g)\nglobal.set(\"BloodPressure\",msg.payload.bp)\nglobal.set(\"SkinThickness\",msg.payload.s)\nglobal.set(\"Insulin\",msg.payload.i)\nglobal.set(\"BMI\",msg.payload.b)\nglobal.set(\"PedigreeFunction\",msg.payload.d)\nglobal.set(\"Age\",msg.payload.a)\nvar apikey = \"mLghce5H9yRH1p5PuXDVZ3Gy_AUtTtEaOLSEpEL0Kfia\"\nmsg.headers = {\"Content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["52630aa78125baeb","1bd1f7cc6c194aa3"]]},{"id":"1bd1f7cc6c194aa3","type":"http request","z":"43f7e1dbf1622856","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":830,"y":240,"wires":[["137a6fa7599d6aa4","91e6b6050123c725"]]},{"id":"137a6fa7599d6aa4","type":"debug","z":"43f7e1dbf1622856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":320,"wires":[]},{"id":"91e6b6050123c725","type":"function","z":"43f7e1dbf1622856","name":"","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucoselevel = global.get(\"Glucoselevel\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar PedigreeFunction = global.get(\"PedigreeFunction\")\nvar Age = global.get(\"Age\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-type':'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload = {\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"preg\",\n\t\t\t\t\" plas\",\n\t\t\t\t\"pres\",\n\t\t\t\t\"Skin \",\n\t\t\t\t\"test\",\n\t\t\t\t\"mass\",\n\t\t\t\t\"pedi\",\n\t\t\t\t\"age\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tPregnancies,\n\t\t\t\t\tGlucoselevel,\n\t\t\t\t\tBloodPressure,\n\t\t\t\t\tSkinThickness,\n\t\t\t\t\tInsulin,\n\t\t\t\t\tBMI,\n\t\t\t\t\tPedigreeFunction,\n\t\t\t\t\tAge\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":200,"wires":[["16181b86e5e352f1"]]},{"id":"16181b86e5e352f1","type":"http request","z":"43f7e1dbf1622856","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/96892863-6958-4da6-84aa-3e2575b2e02a/predictions?version=2022-08-02","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1210,"y":200,"wires":[["800e28c84db52dbc","e38232b6f5bb0749"]]},{"id":"800e28c84db52dbc","type":"debug","z":"43f7e1dbf1622856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":320,"wires":[]},{"id":"e38232b6f5bb0749","type":"function","z":"43f7e1dbf1622856","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":200,"wires":[["33fae3f01faa4526","6a0639228514a649"]]},{"id":"33fae3f01faa4526","type":"debug","z":"43f7e1dbf1622856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":300,"wires":[]},{"id":"6a0639228514a649","type":"ui_text","z":"43f7e1dbf1622856","group":"cbe680c1f7f0648d","order":2,"width":0,"height":0,"name":"","label":"Prediction : (Above 0.6 - Diabetic)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1760,"y":200,"wires":[]},{"id":"cbe680c1f7f0648d","type":"ui_group","name":"Enter the details","tab":"4318404fdceb161c","order":1,"disp":true,"width":9,"collapse":false,"className":""},{"id":"4318404fdceb161c","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]